# Config file for automatic testing at travis-ci.org

language: python

python:
  - "3.4"
  - "2.7"

# command to install dependencies, e.g. pip install -r requirements.txt --use-mirrors
install: pip install -r requirements-dev.txt

# command to run tests, e.g. python setup.py test
script: make check

before_script:
  - psql -U postgres -c 'create database sub_query_test;'
  - psql -U postgres -c "create extension postgis;"
